---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Ansible Lint

on:
  push:
    paths:
      - ansible/**
      - pyproject.toml
      - .github/workflows/ansible-lint.yml
  pull_request:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ansible-lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ansible-lint:
    name: Lint Ansible Playbooks
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --extra ansible --prerelease=allow

      - name: Lint Ansible playbooks and roles
        run: |
          uv run ansible-lint playbooks/
